.exerciseContainer {
  margin: 0 auto;
}

.waterContainer {
  position: relative;
  height: 500px;
}

.nemo, .dori {
  display: block;
  position: absolute;
  width: 150px;
  height: 107px;
  padding: 0;
  margin: 0;
}
